# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')
#read_table(index_col,header,name,parse_dates,encoding )

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)
# chipo['choice_description'][4]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
chipo.info()
chipo.shape[0]

 
#object -- 代表了字符串类型 
#int -- 代表了整型 
#float -- 代表了浮点数类型 
#datetime -- 代表了时间类型 
#bool -- 代表了布尔类型
#category

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

4622

In [22]:
chipo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 1.1 MB

### Step 6. What is the number of columns in the dataset?

In [23]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [24]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [25]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [26]:
chipo.item_name.value_counts().head(100) #ascending=True  default False

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

### Step 10. How many items were ordered?

In [27]:
Ordnum = chipo.item_name.value_counts().count()
Ordnum

50

### Step 11. What was the most ordered item in the choice_description column?

In [28]:
chipo.choice_description.value_counts().head(5)

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [29]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

In [31]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
# chipo.item_price = chipo.item_price.astype(float)
chipo.item_price.head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [32]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [33]:
chipo.order_id.value_counts().count() #len(chipo.order_id.unique())

1834

### Step 16. What is the average amount per order?

In [34]:
order_grouped = chipo.groupby(by=['order_id'])
order_grouped.mean()['quantity'] #order_grouped['quantity'].mean()
# Or 

#chipo.groupby(by=['order_id']).mean()['quantity']

order_id
1       1.000000
2       2.000000
3       1.000000
4       1.000000
5       1.000000
6       1.000000
7       1.000000
8       1.000000
9       1.500000
10      1.000000
11      1.000000
12      1.000000
13      1.000000
14      1.000000
15      1.000000
16      1.000000
17      1.000000
18      1.000000
19      1.000000
20      1.000000
21      1.000000
22      1.000000
23      1.500000
24      1.000000
25      1.000000
26      1.000000
27      1.000000
28      1.000000
29      1.000000
30      1.000000
          ...
1805    1.000000
1806    1.000000
1807    1.000000
1808    1.000000
1809    1.000000
1810    1.000000
1811    1.000000
1812    1.333333
1813    2.000000
1814    1.000000
1815    1.000000
1816    1.000000
1817    1.000000
1818    1.000000
1819    1.000000
1820    1.000000
1821    1.000000
1822    1.333333
1823    1.000000
1824    1.000000
1825    1.000000
1826    1.000000
1827    1.000000
1828    1.000000
1829    1.000000
1830    1.000000
1831    1.000000
1832    1.000000
1833    1.000000
1834    1.000000
Name: quantity, Length: 1834, dtype: float64

### Step 17. How many different items are sold?

In [35]:
chipo.item_name.value_counts().count() 
#mostOrd = chipo.item_name.value_counts().index
#len(mostOrd)

50